$backgroundColor: #efefef;
$radius: 40%;

form {
  margin: auto;
  width: 28rem !important;
  .textarea {
    height: 10rem;
  }
  .url {
    width: 100%;
    margin-bottom: 1rem;
    input {
      border-radius: 4px;
      width: 100%;
      padding: 0.5rem;
      border: 1px solid #ccc;
      &:focus {
        outline: none;
        border-color: #000;
      }
    }
    button {
      color: #f8d2a7;
      font-size: 0.8rem;
      margin-top: 0.5rem;
      background: #d87401;
      outline: none;
      border: none;
      border-radius: 4px;
      padding: 0.5rem;
      &:hover {
        background: #da994f;
      }
    }
  }
  .methodsContainer {
    display: flex;
    margin: 1rem 0;
    flex-direction: row;

    &.methods {
      .active {
        background-color: #ffd7aa;
      }
      button {
        cursor: pointer;
        margin-right: 1rem;
        padding: 0.25rem 0.5rem;
        background: #d87401;

        &:hover {
          background: #f8d2a7;
        }
      }
    }
    button {
      margin-left: auto;
      padding: 0.25rem 0.5rem;
      background: #d87401;
      color: white;
      border: none;
      cursor: pointer;
      &:hover {
        background: #d87401;
      }
    }
  }
}
