$backgroundColor: #fd971f;
$colorFont: #fff;
header {
  width: 100%;
  background: $backgroundColor;
  border-bottom: 1px solid #eee;
  color: #1c2128;
  padding: 0;
  margin: 0;
  text-align: center;
}
