$backgroundColor: #fd971f;
$colorFont: #fff;
footer {
  width: 100%;
  padding: 1rem 0;
  background-color: #fafafa;
  border-top: 1px solid #eaeaea;
  text-align: center;
  font-size: 0.8rem;
  color: #1c2128;

  background: $backgroundColor;
  border-top: 1px solid #eee;
  padding: 1em 3em;
  margin: 0;
}
